*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 40% auto auto 10%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    'hd nav'
    'fg fg'
    'mn mn'
    'info info'
    'ft ft';
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    grid-area: hd;
    background-color: rgb(230, 126, 34);
}

#headerLink{
    text-decoration: none;
    color: #000; 
}

.bigTitle{
    font-size: 4vw;
}

#topNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
    grid-area: nav;
    background-color: rgb(230, 126, 34);
}

.navLinks{
    text-decoration: none;
    color: black;

    transition: all 0.2s ease;
}

.navLinks:hover{
    color: rgb(88, 72, 56);
}

#heroImg{
    display: flex;
    grid-area: fg;
    background-image: url(../media/hero_images/hero_restaurang.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#heroCaption{
    background-color: rgb(230, 126, 34);

    text-align: center;

    padding: 0.5em;
    border-radius: 0.7em;
}

#figcaptionTitle{
    font-size: 7.5vh;
}

#figcaptionText{
    font-size: 4vh;
}

main{
    grid-area: mn;

    display: flex;
    text-align: center;
}

#mainNav{
    background-color: rgb(230, 126, 34);
    width: 12vw;
}

#locationSearch{
    width: 100%;
    font-size: 100%;
    padding: 1vh;
}

#locations{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.city{
    font-size: 0.75vw;
}

#locations li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 1vh;
}

#locations li a:hover{
    background-color: rgb(88, 72, 56);
    transition: all 0.2s ease;
}

#restaurants{
    background-color: rgb(230, 126, 34);
}

.mainTitles{
    font-size: 5vh;
    padding-top: 0.5vw;
}

.cardContainer{
    display: flex;
    justify-content: space-around;
    align-content: space-around;

    padding: 1rem;

    width: 88vw;
}

.card {
    border: solid 0.4vw black;
    display: flex;
    flex-direction: row;

    max-width: 28.5vw;
    text-align: center;
}

.cardImg{
    width: 50%;
}
  
.cardText{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    font-size: 2.5vh;

    padding: 3%;
}

.card button {
    border: none;
    outline: 0;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    height: 100%;
    font-size: 1.2rem;
    width: auto;

    transition: all 0.2s ease;
}
  
.card button:hover {
    opacity: 0.7;
}

#restaurantInfo{
    grid-area: info;

    text-align: center;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;

    background-color: rgb(230, 126, 34);
}

.infoText{
    font-size: 3vh;
}

footer{
    grid-area: ft;
    background-image: url(../media/hero_images/hero_restaurang.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
}